@page
@model GetTogether.Pages.ThanksModel
@{
}
<body class="text-center">
    <br />
   <hr />
    <div class="text-primary text-center">

        <h3>Thank you <br /><span class="text-primary"> @Model.FullName </span>  <br />
            For Letting us Know about your arrival</h3>
    </div>
    <div>
        <p>
            Click below to see the list of people attending
        </p>
    </div>
    <div class="text-center">
        <a class="btn btn-dark" asp-page="/AttendersList">See Who's Comming'</a>
    </div>
    <br /><br />  <br /><br />  <br /><br />  <br /><br />  <br /><br />  
    <br /><br />  <br /><br />
</body>